.focus__screen 
  position fixed
  width 100vw
  height 100vh
  background-color $lightGray
  z-index 999999999
  top 0
  left 0
  
  &__header
    font-family $sans
    color $darkGray
    max-width 500px
    margin auto
